.menu-note
{
	font-family: $font-menunote;
	font-size: $fontsizemenu;
	color: $color-text-menunote;
	background-color:$bg-menunote;
}

.menu-chic
{
	font-family: $font-menuchic;
	font-size: $fontsizemenu;
	color: $color-text-menuchic;
	background-color: #F2E0F7;
}
	

.menu-delice
{
	font-family: $font-menudelice;
	font-size: $fontsizemenu;
	color: $color-text-menudelice;
	background-color: #FAFAFA;
	
}

.menu-palette
{
	font-family: $font-menupalette;
	font-size: $fontsizemenu;
	color: $color-text-menupalette;
	background-color: #FFFFFF;
}